@if (chartStyle == 'Pie') {
  <ngx-charts-pie-chart
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showDataLabel"
    [tooltipDisabled]="tooltipDisabled"
    [doughnut]="false"
    [view]="$any(dimension)"
    (select)="onSelect($event)"
  >
  </ngx-charts-pie-chart>
}

@if (chartStyle == 'Doughnut') {
  <ngx-charts-pie-chart
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showDataLabel"
    [tooltipDisabled]="tooltipDisabled"
    [doughnut]="true"
    [view]="$any(dimension)"
    (select)="onSelect($event)"
  >
  </ngx-charts-pie-chart>
}

@if (chartStyle == 'Vertical Bar') {
  <ngx-charts-bar-vertical
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [noBarWhenZero]="noBarWhenZero"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisLabel]="yAxisLabel"
    [roundDomains]="roundDomains"
    [view]="$any(dimension)"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-vertical>
}

@if (chartStyle == 'Normalized Vertical Bar') {
  <ngx-charts-bar-vertical-normalized
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [noBarWhenZero]="noBarWhenZero"
    [showXAxisLabel]="showXAxisLabel"
    [showGridLines]="showGridLines"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [roundDomains]="roundDomains"
    [view]="$any(dimension)"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-vertical-normalized>
}

@if (chartStyle == 'Stacked Vertical Bar') {
  <ngx-charts-bar-vertical-stacked
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [noBarWhenZero]="noBarWhenZero"
    [showXAxisLabel]="showXAxisLabel"
    [showGridLines]="showGridLines"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [roundDomains]="roundDomains"
    [showDataLabel]="showDataLabel"
    [view]="$any(dimension)"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-vertical-stacked>
}

@if (chartStyle == 'Grouped Vertical Bar') {
  <ngx-charts-bar-vertical-2d
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [noBarWhenZero]="noBarWhenZero"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [showDataLabel]="showDataLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [roundDomains]="roundDomains"
    [view]="$any(dimension)"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-vertical-2d>
}

@if (chartStyle == 'Horizontal Bar') {
  <ngx-charts-bar-horizontal
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [noBarWhenZero]="noBarWhenZero"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisLabel]="yAxisLabel"
    [roundDomains]="roundDomains"
    [view]="$any(dimension)"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-horizontal>
}

@if (chartStyle == 'Normalized Horizontal Bar') {
  <ngx-charts-bar-horizontal-normalized
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [noBarWhenZero]="noBarWhenZero"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisLabel]="yAxisLabel"
    [roundDomains]="roundDomains"
    [view]="$any(dimension)"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-horizontal-normalized>
}

@if (chartStyle == 'Stacked Horizontal Bar') {
  <ngx-charts-bar-horizontal-stacked
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [noBarWhenZero]="noBarWhenZero"
    [showXAxisLabel]="showXAxisLabel"
    [showDataLabel]="showDataLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisLabel]="yAxisLabel"
    [roundDomains]="roundDomains"
    [view]="$any(dimension)"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-horizontal-stacked>
}

@if (chartStyle == 'Grouped Horizontal Bar') {
  <ngx-charts-bar-horizontal-2d
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [noBarWhenZero]="noBarWhenZero"
    [showXAxisLabel]="showXAxisLabel"
    [showDataLabel]="showDataLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisLabel]="yAxisLabel"
    [roundDomains]="roundDomains"
    [view]="$any(dimension)"
    (select)="onSelect($event)"
  >
  </ngx-charts-bar-horizontal-2d>
}

@if (chartStyle == 'Line') {
  <ngx-charts-line-chart
    [scheme]="colorSchema"
    [results]="series"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showGridLines]="showGridLines"
    [yAxisLabel]="yAxisLabel"
    [roundDomains]="roundDomains"
    [view]="$any(dimension)"
    [curve]="curve"
    (select)="onSelect($event)"
  >
  </ngx-charts-line-chart>
}
