<ion-footer class="app-footer inner-footer ion-no-border ion-no-margin">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-button fill="clear" color="medium" class="no-cursor">
          <ion-label>&copy; {{ '2019-2023 Technoplatz GmbH.' }}</ion-label>
        </ion-button>
        <ion-button fill="clear" href="/console/dashboard">
          <ion-label>{{ 'Console' | translate }}</ion-label>
        </ion-button>
        <ion-button fill="clear" href="/console/account/settings">
          <ion-label>{{ 'Account' | translate }}</ion-label>
        </ion-button>
        <ion-button fill="clear">
          <ion-label>{{ 'Support' | translate }}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>