<ion-content>
  <ion-grid class="sign-section">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11" class="ion-no-padding ion-padding-end">
        <ion-icon name="stats-chart-sharp" class="index-logo"></ion-icon>
        <h5>{{ 'Low-code process management and data sharing platform' | translate }}</h5>
        <h1>{{ 'It\'s time to get data-driven with your inner cycle' | translate }}</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="1"></ion-col>
      <ion-col size="11" class="ion-padding-top">
        <ion-button *ngIf="user" href="/console" class="ion-margin-top">
          <ion-icon name="terminal-outline"></ion-icon>&nbsp;
          {{ 'Console' | translate }}
        </ion-button>
        <ion-button *ngIf="!user" (click)="doSignup()" class="ion-margin-top" size="default">
          <ion-icon name="person-outline"></ion-icon>
          {{ 'Sign Up' | translate }}&nbsp;&nbsp;
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>