<ion-footer class="inner-footer ion-no-border ion-no-margin flex-footer">
  <div class="flex-footer-start">&copy;{{ "2019-2026 Technoplatz." }}</div>
  <div class="flex-footer-start">
    <a target="_blank" class="clicked-item" href="https://bi.technoplatz.com/legal/terms">{{ 'Terms & Conditions' |
      translate }}</a>
  </div>
  <div class="flex-footer-start ion-margin-end">
    <a target="_blank" class="clicked-item" href="https://bi.technoplatz.com/legal/privacy-policy">{{ 'Privacy Policy' |
      translate }}</a>
  </div>
  <app-lang class="lang-inner"></app-lang>
</ion-footer>