<ion-content class="sign-content">
    @if (error()) {<ion-grid class="ion-no-padding error-grid">
        <ion-row>
            <ion-col class="ion-padding">
                {{ error() | translate }}
            </ion-col>
        </ion-row>
    </ion-grid>}
    @if (success_str()) {<ion-grid class="ion-no-padding success-grid">
        <ion-row>
            <ion-col class="ion-padding">
                {{ success_str() | translate }}
            </ion-col>
        </ion-row>
    </ion-grid>}
    @if (formtype()=='reset') {<form [formGroup]="resetForm">
        <ion-item lines="none">
            <h3>{{ 'Reset Password' | translate }}</h3>
        </ion-item>
        <ion-item lines="full">
            <ion-input #tfacfocus formControlName="password" type="password"
                placeholder="{{ '8+ [Aa9!]' | translate }}" class="ion-no-padding" required
                [value]="email()" labelPlacement="stacked">
                <div slot="label" class="field-label">{{ 'Password' | translate }} [{{ '8+ [Aa9!]' | translate }}]<sup> <ion-icon name="star"></ion-icon> </sup></div>
            </ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-input class="ion-no-padding ion-margin-top token" formControlName="tfac" type="text"
                required minlength="6" maxlength="6" size="8" autofocus="true" required="true" autocomplete="off" labelPlacement="stacked">
                <div slot="label" class="field-label">{{ 'One Time Password' | translate }}:</div>
            </ion-input>
        </ion-item>
        <ion-item lines="none" class="ion-margin-top">
            <ion-button (click)="Reset()" size="default" [disabled]="!resetForm.valid" class="no-hover">
                @if (!isInProgress()) {<span>{{ 'Set Password' | translate }}</span>}
                @if (isInProgress()) {<ion-spinner name="dots"></ion-spinner>}
            </ion-button>
            <ion-button slot="end" fill="outline" (click)="doDismissModal()" size="default" type="reset">
                <span>{{ 'Cancel' | translate }}</span>
            </ion-button>
        </ion-item>
    </form>}
    @if (formtype()=='signup') {<form [formGroup]="signupForm">
        <ion-item lines="none">
            <h3>{{ 'Sign up' | translate }}</h3>
        </ion-item>
        <ion-item lines="full">
            <ion-input #emailfocussignup class="ion-no-padding" formControlName="email" type="email" spellcheck="false"
                autocorrect="off" required placeholder="{{ 'Business E-mail' | translate }}" labelPlacement="stacked">
                <div slot="label" class="field-label">{{ 'E-mail' | translate }} [{{ 'User ID' | translate }}] <sup> <ion-icon name="star"></ion-icon> </sup></div>
            </ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-input #namefocus class="ion-no-padding" formControlName="name" type="text" spellcheck="false"
                autocorrect="off" required placeholder="{{ 'Name and Surname' | translate }}" labelPlacement="stacked">
                <div slot="label" class="field-label">{{ 'Name' | translate }} <sup> <ion-icon name="star"></ion-icon> </sup></div>
            </ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-input #passwordfocus formControlName="password" type="password"
                placeholder="{{ '8+ characters; a-Z,0-9,sign' | translate }}" required labelPlacement="stacked">
                <div slot="label" class="field-label">{{ 'Password' | translate }} <sup> <ion-icon name="star"></ion-icon> </sup></div>
            </ion-input>
        </ion-item>
        <ion-item lines="none" class="ion-margin-top">
            <ion-button (click)="sign_up()" size="default" class="no-hover ion-margin-end">
                @if (!isInProgress()) {<span>{{ 'Continue' | translate }}</span>}
                @if (isInProgress()) {<ion-spinner name="dots"></ion-spinner>}
            </ion-button>
            <ion-button fill="outline" (click)="doDismissModal()" size="default" type="reset">
                <span>{{ 'Cancel' | translate }}</span>
            </ion-button>
        </ion-item>
    </form>}
    @if (formtype()=='signin') {<form [formGroup]="signinForm">
        <ion-item lines="none">
            <h3>{{ 'Sign in' | translate }}</h3>
        </ion-item>
        <ion-item lines="full">
            <ion-input #emailfocussignin class="ion-no-padding" formControlName="email" type="email" spellcheck="false"
                autocorrect="off" required [value]="email()" placeholder="{{ 'Business e-mail' | translate}}" labelPlacement="stacked">
                <div slot="label" class="field-label">{{ 'E-mail' | translate }} <sup> <ion-icon name="star"></ion-icon> </sup></div>
            </ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-input #passwordfocus formControlName="password" type="password" required
                placeholder="{{ 'User password' | translate}}" labelPlacement="stacked">
                <div slot="label" class="field-label">{{ 'Password' | translate }} <sup> <ion-icon name="star"></ion-icon> </sup></div>
            </ion-input>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ion-margin-top">
            <ion-button (click)="sign_in()" size="default" class="ion-margin-end" class="sign-button">
                @if (!isInProgress()) {<span>{{ 'Continue' | translate }}</span>}
                @if (isInProgress()) {<ion-spinner name="dots"></ion-spinner>}
            </ion-button>
            <ion-button fill="outline" (click)="doDismissModal()" size="default" type="reset">
                <span>{{ 'Cancel' | translate }}</span>
            </ion-button>
            <ion-button slot="end" (click)="doSetOp('forgot')" fill="outline" size="default">
                <span>{{ 'Reset Password' | translate }}</span>
            </ion-button>
        </ion-item>
        <ion-item lines="none" class="ion-margin-top">
            <ion-checkbox formControlName="isRememberMe" [value]="isRememberMe()" mode="md" labelPlacement="end" justify="start">
                {{ 'Remember me' | translate }}
            </ion-checkbox>
        </ion-item>
    </form>}
    @if (formtype()=='tfac') {<form [formGroup]="TFACForm">
        <ion-item lines="none">
            <h3>{{ '2F Authentication' | translate }}</h3>
        </ion-item>
        <ion-item lines="full">
            <ion-input #tfacfocus class="ion-no-padding token" formControlName="tfac" type="text" required minlength="6"
                maxlength="6" size="8" autofocus="true" required="true" labelPlacement="stacked">
                <div slot="label" class="field-label">{{ 'One Time Password' | translate }}:</div>
            </ion-input>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ion-margin-top">
            <ion-button (click)="TFAC()" size="default" class="ion-margin-end" class="sign-button">
                @if (!isInProgress()) {<span>{{ 'Sign in' | translate }}</span>}
                @if (isInProgress()) {<ion-spinner name="dots"></ion-spinner>}
            </ion-button>
            <ion-button fill="outline" (click)="doDismissModal()" size="default" type="reset">
                <span>{{ 'Cancel' | translate }}</span>
            </ion-button>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ion-margin-top">
            <ion-button fill="clear" size="small" class="no-hover ion-no-padding clear-dark-button">
                <ion-icon name="mail-sharp"></ion-icon>
                <span>{{ 'Your OTP has been sent by E-mail' | translate }}.</span>
            </ion-button>
        </ion-item>
    </form>}
    @if (formtype()=='forgot') {<form [formGroup]="forgotForm">
        <ion-item lines="none">
            <h3>{{ 'Reset Password' | translate }}</h3>
        </ion-item>
        <ion-item lines="full" class="ion-margin-top">
            <ion-input #emailfocus class="ion-no-padding" formControlName="email" type="email" spellcheck="false"
                autocorrect="off" placeholder="{{ 'Business e-mail' | translate}}" required labelPlacement="stacked">
                <div slot="label" class="field-label">{{ 'E-mail' | translate }}</div>
            </ion-input>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ion-margin-top">
            <ion-button (click)="doForgot()" size="default" class="ion-margin-end" class="sign-button">
                @if (!isInProgress()) {<span>{{ 'Continue' | translate }}</span>}
                @if (isInProgress()) {<ion-spinner name="dots"></ion-spinner>}
            </ion-button>
            <ion-button fill="outline" (click)="doDismissModal()" size="default" type="reset">
                <span>{{ 'Cancel' | translate }}</span>
            </ion-button>
        </ion-item>
    </form>}
    @if (formtype()=='success') {<form [formGroup]="successForm">
        <ion-item lines="none">
            <h2>{{ 'Thank you' | translate }}!</h2>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                {{ 'Registration completed successfully' | translate }}.
            </ion-label>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ion-margin-top ion-margin-bottom">
            <ion-button (click)="doSetOp('signin')" size="default">
                <span>{{ "Sign in" | translate }}</span>
            </ion-button>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding">
            <ion-button fill="clear" (click)="doSetOp('signin')" size="small"
                class="no-hover ion-no-padding clear-dark-button">
                <ion-icon name="log-in-sharp"></ion-icon>
                <span>{{ 'Click the button above to get Signed in' | translate }}.</span>
            </ion-button>
        </ion-item>
    </form>}
</ion-content>