.token {
    font-size: x-large !important;
    font-weight: 600;
}

.section-header span {
    margin-top: -2px;
    font-weight: 600;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
}