<ion-content class="ion-no-padding">
  @if (is_initialized) {
    <div class="console-right">
      <ion-button fill="clear" class="ion-no-padding ion-no-margin">
        {{ header | translate }}
      </ion-button>
      <h3>{{ subheader | translate }}</h3>
      <div class="profile-settings">
        @if (submenu == 'account') {
          <ion-list class="ion-padding-end">
            <ion-list-header>{{ 'Security' | translate }}</ion-list-header>
            <ion-item>
              <ion-label position="fixed" class="ion-margin-end"
                >{{ 'E-mail' | translate }}
              </ion-label>
              {{ user.email }}
            </ion-item>
            <ion-item>
              <ion-label position="fixed" class="ion-margin-end"
                >{{ 'Password' | translate }}
              </ion-label>
              ************************
              <ion-button (click)="misc.sign_modal('forgot')" size="small" slot="end">
                {{ 'Reset' | translate }}
              </ion-button>
            </ion-item>
            <ion-item class="api-key-item">
              <ion-label position="fixed" class="ion-margin-end"
                >{{ '2FA Auth' | translate }}
              </ion-label>
              @if (!otp_show) {
                <span>
                  {{ 'Always On' | translate }}
                </span>
              }
              @if (otp_qr && otp_show) {
                <div>
                  <qrcode
                    [qrdata]="otp_qr"
                    [width]="200"
                    [errorCorrectionLevel]="'M'"
                    [allowEmptyString]="true"
                  >
                  </qrcode>
                  <ion-note slot="start" class="ion-margin-start"
                    >{{
                      'Read QR code with your Authenticator App to generate a
                  one-time password' | translate
                    }}.</ion-note
                  >
                  <div class="filler-8"></div>
                </div>
              }
              @if (!otp_show) {
                <ion-button (click)="doOTP({ op: 'show' })" size="small" slot="end">
                  @if (otp_process) {
                    <ion-spinner name="dots"></ion-spinner>
                  } @else {
                    <ion-label>{{ 'Show QR' | translate }}</ion-label>
                  }
                </ion-button>
              }
              @if (otp_show) {
                <ion-button (click)="doOTP({ op: 'hide' })" size="small" slot="end">
                  <ion-label>{{ 'Hide' | translate }}</ion-label>
                </ion-button>
              }
              @if (otp_show) {
                <ion-button (click)="doResetOTP()" size="small" slot="end">
                  <ion-label>{{ 'Reset' | translate }}</ion-label>
                </ion-button>
              }
              @if (otp_show) {
                <ion-button (click)="doValidateOTP()" size="small" slot="end">
                  <ion-label>{{ 'Validate' | translate }}</ion-label>
                </ion-button>
              }
            </ion-item>
            <ion-list-header>{{ 'System' | translate }}</ion-list-header>
            <ion-item>
              <ion-label position="fixed" class="ion-margin-end"
                >{{ 'Time Zone' | translate }}
              </ion-label>
              {{ timeZone }}
            </ion-item>
            <ion-item>
              <ion-label position="fixed" class="ion-margin-end"
                >{{ 'Version' | translate }}
              </ion-label>
              v{{ version }} ({{ release }})
            </ion-item>
          </ion-list>
        }
        @if (submenu == 'profile-settings') {
          <ion-list class="ion-padding-end">
            <ion-list-header>{{ 'Theme' | translate }}</ion-list-header>
            <ion-item>
              <ion-label position="fixed" class="ion-margin-end"
                >{{ 'Pagination' | translate }}
              </ion-label>
              <app-pagination></app-pagination>
            </ion-item>
            <ion-item>
              <ion-label position="fixed" class="ion-margin-end"
                >{{ 'Theme Color' | translate }}
              </ion-label>
              <div class="flex-container">
                @for (item of themes; track item) {
                  <div
                    size="default"
                    [style.background-color]="item.color"
                    class="theme-button"
                    (click)="doTheme(item)"
                  ></div>
                }
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="fixed" class="ion-margin-end"
                >{{ 'Language' | translate }}
              </ion-label>
              <app-lang></app-lang>
            </ion-item>
          </ion-list>
        }
      </div>
    </div>
  }
</ion-content>
<app-inner-footer></app-inner-footer>
