<ion-footer class="ion-no-border ion-padding-start ion-padding-end app-footer">
  <ion-grid class="ion-no-padding ion-padding-bottom">
    <ion-row class="ion-margin-top">
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-text color="primary" size="ion-text-small">
          {{ 'Powered by' | translate }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="auto" class="logo-column">
        <ion-icon name="logo-pwa" size="large" color="primary" class="ion-margin-end"></ion-icon>
        <ion-icon name="logo-npm" size="large" color="primary" class="ion-margin-end"></ion-icon>
        <ion-icon name="logo-sass" size="large" color="primary" class="ion-margin-end"></ion-icon>
        <ion-icon name="logo-python" size="large" color="primary" class="ion-margin-end"></ion-icon>
        <ion-icon name="logo-javascript" size="large" color="primary" class="ion-margin-end"></ion-icon>
        <ion-icon name="logo-docker" size="large" color="primary" class="ion-margin-end"></ion-icon>
        <ion-icon name="logo-github" size="large" color="primary" class="ion-margin-end"></ion-icon>
        <ion-icon name="logo-microsoft" size="large" color="primary" class="ion-margin-end"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="auto" class="ion-padding-bottom">
        &copy; {{ '2019-2023 Technoplatz GmbH.' }}.&nbsp;&nbsp;&nbsp;v{{ version }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>