.licensing {
    width: 100%;
}

.licensing td {
    vertical-align: top;
    text-align: center;
    padding: 8px !important;
}

.licensing td:nth-child(1) {
    width: 28%;
}

.licensing td:nth-child(2),
.licensing td:nth-child(3) {
    width: 36%;
}