@if (ok) {
  <ion-reorder-group
    disabled="false"
    (ionItemReorder)="doReorder($event, fname)"
    class="ion-no-padding"
  >
    @if (!field.manualAdd && (!data[fname] || data[fname]?.length == 0)) {
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-button fill="clear" size="default" (click)="doLineAdd(-1)" class="ion-no-padding">
          <ion-icon name="add-circle-sharp"></ion-icon>
          {{ 'Add' | translate }}
        </ion-button>
      </ion-item>
    }
    @for (kv of data[fname]; track kv; let i = $index) {
      <ion-item lines="full" class="ion-no-padding ion-no-margin">
        <ion-reorder slot="start"></ion-reorder>
        <ion-grid class="kov-grid">
          <ion-row>
            <!-- key -->
            @if (type == 'key') {
              <ion-col size="10.5">
                @if (field.manualAdd) {
                  <ion-input
                    required="true"
                    [(ngModel)]="data[field.name][i]"
                    [ngModelOptions]="{ standalone: true }"
                  ></ion-input>
                } @else {
                  <ion-select
                    required="true"
                    [(ngModel)]="data[fname][i]"
                    [ngModelOptions]="{ standalone: true }"
                    mode="md"
                    placeholder="{{ 'Please select' | translate }}"
                  >
                    @for (item of kovs; track item) {
                      <ion-select-option [value]="item.key">
                        {{ item.key }}
                      </ion-select-option>
                    }
                  </ion-select>
                }
              </ion-col>
            }
            <!-- keyop -->
            @if (type == 'keyop') {
              <ion-col size="5">
                <ion-select
                  required="true"
                  [(ngModel)]="data[fname][i].key"
                  [ngModelOptions]="{ standalone: true }"
                  mode="md"
                  placeholder="{{ 'Please select' | translate }}"
                >
                  @for (item of kovs; track item) {
                    <ion-select-option [value]="item.key">
                      {{ item.key }}
                    </ion-select-option>
                  }
                </ion-select>
              </ion-col>
            }
            @if (type == 'keyop') {
              <ion-col size="5">
                <ion-select
                  required="true"
                  [(ngModel)]="data[fname][i].op"
                  [ngModelOptions]="{ standalone: true }"
                  mode="md"
                  placeholder="{{ 'Please select' | translate }}"
                >
                  @for (item of keyop_; track item) {
                    <ion-select-option [value]="item.key">
                      {{ item.key }}
                    </ion-select-option>
                  }
                </ion-select>
              </ion-col>
            }
            <!-- keyvalue -->
            @if (type == 'keyvalue') {
              <ion-col size="4">
                <ion-select
                  required="true"
                  [(ngModel)]="data[fname][i].key"
                  [ngModelOptions]="{ standalone: true }"
                  mode="md"
                  placeholder="{{ 'Please select' | translate }}"
                >
                  @for (item of kovs; track item) {
                    <ion-select-option [value]="item.key">
                      {{ item.key }}
                    </ion-select-option>
                  }
                </ion-select>
              </ion-col>
            }
            @if (type == 'keyvalue') {
              <ion-col size="6.5">
                <ion-input
                  class="ion-no-padding"
                  type="text"
                  [(ngModel)]="data[fname][i].value"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="{{ 'value' | translate }}"
                >
                </ion-input>
              </ion-col>
            }
            <!-- keyopvalue -->
            @if (type == 'keyopvalue') {
              <ion-col size="4">
                <ion-select
                  required="true"
                  [(ngModel)]="data[fname][i].key"
                  [ngModelOptions]="{ standalone: true }"
                  mode="md"
                  placeholder="{{ 'Please select' | translate }}"
                >
                  @for (item of kovs; track item) {
                    <ion-select-option [value]="item.key">
                      {{ item.key }}
                    </ion-select-option>
                  }
                </ion-select>
              </ion-col>
            }
            @if (type == 'keyopvalue') {
              <ion-col size="3">
                <ion-select
                  required="true"
                  [(ngModel)]="data[fname][i].op"
                  [ngModelOptions]="{ standalone: true }"
                  mode="md"
                  placeholder="{{ 'operator' | translate }}"
                >
                  @for (f of filterops; track f) {
                    <ion-select-option [value]="f.value">
                      {{ f.key | translate }}
                    </ion-select-option>
                  }
                </ion-select>
              </ion-col>
            }
            @if (type == 'keyopvalue') {
              <ion-col size="3.5">
                <ion-input
                  class="ion-no-padding"
                  type="text"
                  [(ngModel)]="data[fname][i].value"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="{{ 'value' | translate }}"
                >
                </ion-input>
              </ion-col>
            }
            <!-- emptyfield -->
            @if (type == 'emptyfield') {
              <ion-col size="5">
                <ion-input
                  class="ion-no-padding"
                  type="text"
                  [(ngModel)]="data[fname][i].key"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="{{ 'Remote Field' | translate }}"
                >
                </ion-input>
              </ion-col>
            }
            @if (type == 'emptyfield') {
              <ion-col size="5.5">
                <ion-input
                  class="ion-no-padding"
                  type="text"
                  [(ngModel)]="data[fname][i].value"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="{{ 'value' | translate }}"
                >
                </ion-input>
              </ion-col>
            }
            <!-- buttons -->
            <ion-col size="1.5" class="ion-no-padding ion-text-right">
              @if (!field.manualAdd && i == data[fname].length - 1) {
                <ion-button
                  fill="clear"
                  size="default"
                  (click)="doLineAdd(i)"
                  class="ion-no-padding ion-no-margin"
                >
                  <ion-icon name="add-circle-sharp"></ion-icon>
                </ion-button>
              }
              <ion-button
                fill="clear"
                size="default"
                (click)="doLineRemove(i)"
                class="ion-no-padding ion-no-margin"
              >
                <ion-icon name="remove-circle-sharp"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    }
  </ion-reorder-group>
} @else {
  <ion-spinner name="dots" class="ion-margin-end"></ion-spinner>
}
