<ion-list class="ion-no-padding">
  <ion-item *ngFor="let filter of filters; let i = index" lines="full" class="ion-no-margin">
    <ion-grid class="ion-no-padding ion-no-margin" fixed="true">
      <ion-row>
        <ion-col size="4" class="ion-padding-end">
          <ion-item lines="none" class="ion-no-margin">
            <ion-label position="stacked">{{ 'Key' }}</ion-label>
            <ion-select required="true" class="ion-no-padding ion-no-margin" [(ngModel)]="filter.key"
              [ngModelOptions]="{standalone: true}" mode="md">
              <ion-select-option *ngFor="let item of property_list" [value]="item.key">
                {{ item.key }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="3" class="ion-padding-end">
          <ion-label position="stacked">{{ 'Operator' }}</ion-label>
          <ion-select required="true" class="ion-no-padding ion-no-margin" [(ngModel)]="filter.op"
            [ngModelOptions]="{standalone: true}" mode="md">
            <ion-select-option *ngFor="let f of filterops" [value]="f.value">
              {{ f.key | translate }}
            </ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="3">
          <ion-label position="stacked">{{ 'Value' }}</ion-label>
          <ion-input class="ion-no-padding" type="text" [(ngModel)]="filter.value"
            [ngModelOptions]="{standalone: true}">
          </ion-input>
        </ion-col>
        <ion-col size="1">
          <ion-button fill="clear" *ngIf="i == filters.length - 1" size="large" (click)="doLineAdd(i)"
            class="ion-no-margin">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1">
          <!-- <ion-button fill="clear" *ngIf="i <= filters.length - 1 && filters.length > 1" size="large"
            (click)="doLineRemove(i)" class="ion-no-margin"> -->
          <ion-button fill="clear" size="large" (click)="doLineRemove(i)" class="ion-no-margin">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="none">
      <ul class="text-small">
        <li>{{ 'Date values must be entered in YYYY-MM-DD format' | translate }}.</li>
        <li>{{ '"in" operator runs case sensitive and it\'s value should be separated by commas' | translate }}.</li>
        <li>{{ 'There is no need to enter value for null and not-null operators' | translate }}.</li>
        <li>{{ 'Es ist nicht erforderlich, Werte für null und not-null-Operatoren einzugeben.' |
          translate }}</li>
      </ul>
  </ion-item>
</ion-list>