<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding ion-no-border">
    <ion-row>
      <ion-col class="console-right">
        <p class="hdr">{{ 'DASHBOARD' | translate }}</p>
        <h3>{{ 'Welcome Aboard' | translate }}.</h3>

        <!-- visuals -->
        <div class="filler-10"></div>
        <div class="visual-container">
          @for (visual_ of visuals_; track visual_; let a = $index) {
            <div class="visual-item" [style]="flashsizes_[visual_.size]">
              <h6>
                {{ visual_.title }}
                @if (perm_) {
                  <ion-icon
                    name="create-sharp"
                    class="visual-icon clicked-item"
                    (click)="misc.navi.next('query/' + visual_.id)"
                    color="dark"
                  ></ion-icon>
                }
              </h6>
              @if (visual_?.is_loaded) {
                <div>
                  @if (visual_?.error) {
                    <div>
                      {{ visual_.error.msg }}
                    </div>
                  }
                  @if (visual_.data?.length > 0) {
                    <div class="visual-table">
                      <table class="data-table">
                        <tr>
                          <th></th>
                          @for (item_ of visual_.fields; track item_) {
                            <th [class]="item_.indexOf('count') >= 0 ? 'ion-text-right' : ''">
                              {{ item_ }}
                            </th>
                          }
                        </tr>
                        @for (record_ of visual_.data; track record_; let i = $index) {
                          <tr>
                            <td
                              [class]="
                                record_['_note'] ? 'danger align-right' : 'primary align-right'
                              "
                              (click)="misc.show_note(record_['_note'], $event)"
                            >
                              @if (record_['_note']) {
                                <ion-icon name="flag"></ion-icon>
                              } @else {
                                {{ i + 1 }}
                              }
                            </td>
                            @for (item_ of visual_.fields; track item_) {
                              <td [class]="item_.indexOf('count') >= 0 ? 'ion-text-right' : ''">
                                {{ record_[item_]?.toString() | translate }}
                              </td>
                            }
                          </tr>
                        }
                      </table>
                    </div>
                  } @else {
                    <div class="no-data-matched">
                      {{ 'NO DATA MATCHING THE CRITERIA FOUND' | translate }}.
                    </div>
                  }
                </div>
              } @else {
                <div class="ion-margin-top">
                  <ion-spinner name="dots" color="primary"></ion-spinner>
                </div>
              }
            </div>
          }
        </div>
        <!-- charts -->

        <!-- RECENT ANNOUNCEMENTS -->
        <div class="filler-10"></div>
        <h4>{{ 'Recent Announcements' | translate }}</h4>
        @if (announcements_?.length > 0) {
          <ion-grid class="ion-no-padding data-grid">
            <ion-row>
              <ion-col size="2">
                <span class="column-title">{{ 'Date' | translate }}</span>
              </ion-col>
              <ion-col size="3">
                <span class="column-title">{{ 'Subject' | translate }}</span>
              </ion-col>
              <ion-col size="7">
                <span class="column-title">{{ 'Tags' | translate }}</span>
              </ion-col>
            </ion-row>
            @for (item of announcements_; track item; let a = $index) {
              <ion-row>
                <ion-col size="2">
                  {{ item.ano_date.replace(' ', 'T') | date: 'dd.MM.yyyy HH:mm' : 'utc' }}
                </ion-col>
                <ion-col size="3"> {{ item.ano_subject }}</ion-col>
                <ion-col size="7"> {{ item._tags?.join(' ') }} </ion-col>
              </ion-row>
            }
            <div class="filler-16"></div>
            <ion-button size="small" (click)="misc.navi.next('admin/_announcement')">{{
              'Show All' | translate
            }}</ion-button>
          </ion-grid>
        } @else {
          <ion-text class="pe">{{ 'No Announcement found' | translate }}.</ion-text>
        }
        <br /><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-inner-footer></app-inner-footer>
