:root {

  // --ion-font-family: "Regular";

  // $popover-md-border-radius: 0px;
  // $popover-ios-border-radius: 0px;

  --ion-padding: 16px;

  /** primary **/
  // --ion-color-primary: #3A62FA;
  // --ion-color-primary-rgb: 56,128,255;
  // --ion-color-primary-rgb: 58, 98, 250;
  // --ion-color-primary: #222428;
  --ion-color-primary: #222222;
  --ion-color-primary-rgb: 34, 36, 40;

  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,
    255,
    255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61,
    194,
    255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,
    255,
    255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,
    96,
    255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,
    255,
    255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #007700;
  --ion-color-success-rgb: 45,
    211,
    111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,
    255,
    255;
  --ion-color-success-shade: #007700;
  --ion-color-success-tint: #007700;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,
    196,
    9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,
    0,
    0;
  --ion-color-warning-shade: #ffc409;
  --ion-color-warning-tint: #ffc409;

  /** danger **/
  --ion-color-danger: #cc0000;
  --ion-color-danger-rgb: 235,
    68,
    90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,
    255,
    255;
  --ion-color-danger-shade: #cc0000;
  --ion-color-danger-tint: #cc0000;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,
    255,
    255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,
    148,
    156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,
    255,
    255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  // --ion-color-light: #f4f5f8;
  --ion-color-light: #d9d9d9;
  // --ion-color-light: #cecece;
  --ion-color-light-rgb: 244,
    245,
    248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,
    0,
    0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** solight **/
  --ion-color-solight: rgb(244, 245, 249);

  /** white **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,
    255,
    255;
  --ion-color-white-contrast: #222222;
  --ion-color-white-contrast-rgb: 0,
    0,
    0;
  --ion-color-white-shade: #ffffff;
  --ion-color-white-tint: #ffffff;

}