<ion-content class="ion-no-padding">
  <ion-grid *ngIf="is_initialized" class="ion-no-padding">
    <ion-row>
      <ion-col [class]="menu_toggle ? 'hide-segment' : 'console-left-side hide-scrollbar' ">
        <ion-list class="ion-no-padding ion-padding-bottom ion-padding-bottom menu-list" lines="none">
          <ion-item lines="none" class="pane-item">
            <ion-label>
              {{ 'Console' }}_<br />
              <span>
                v {{ version }} ({{ release }})<br />
                {{ saas_.company }}
              </span>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-button size="default" fill="clear" class="dash-button"
              (click)="goSection('dashboard', null, 'Dashboard')">
              <ion-icon name="stats-chart-sharp"></ion-icon>{{ 'Dashboard' | translate }}
            </ion-button>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">
              <ion-button size="default" fill="clear" class="menu-button">
                <ion-icon name="layers-outline"></ion-icon>{{ 'Collections' | translate }}
              </ion-button>
              <p *ngIf="collections.length == 0">
                <ion-text color="medium">{{ 'No collections found' | translate }}</ion-text>
              </p>
              <p *ngFor="let item of collections" (click)="goSection('collections', item.col_id, item.col_id)"
                class="clicked-item">
                {{ item.col_title }}
              </p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="perm && segmentsadm && segmentsadm.length > 0" lines="none">
            <ion-label class="ion-text-wrap">
              <ion-button size="default" fill="clear" class="menu-button">
                <ion-icon name="settings-outline"></ion-icon>{{ 'Administration' | translate }}
              </ion-button>
              <p *ngFor="let item of segmentsadm" (click)="goSection('admin', item.id, item.title)"
                class="clicked-item">
                {{ item.title }}
              </p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="perm" lines="none">
            <ion-label class="ion-text-wrap">
              <ion-button size="default" fill="clear" class="menu-button">
                <ion-icon name="options-outline"></ion-icon>{{ 'Preferences' | translate }}
              </ion-button>
              <p (click)="goSection('account', 'apikey', 'API Key')" class="clicked-item">
                {{ 'API Key' | translate }}
              </p>
              <p (click)="goSection('account', 'settings', 'Account Settings')" class="clicked-item">
                {{ 'Account Settings' | translate }}
              </p>
              <p (click)="goSection('account', 'preferences', 'Preferences')" class="clicked-item">
                {{ 'Preferences' | translate }}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- RIGHT SIDE -->
      <ion-col class="console-right-side">
        <ion-grid class="ion-no-padding ion-no-border">
          <ion-row>
            <ion-col class="console-right-0">
              <!-- HEADER -->
              <ion-button (click)="doMenuToggle()" size="large" fill="clear"
                class="ion-no-padding ion-no-margin toggle-button">
                <ion-icon name="menu-sharp" color="primary"></ion-icon> {{ header | capitalize }}
              </ion-button>
              <!-- DASHBOARD -->
              <div *ngIf="menu=='dashboard'">

                <!-- DASH HEADER BUTTONS GRID -->
                <ion-grid class="ion-no-padding">
                  <ion-row class="sub-menu-row sq-menu-row">
                    <ion-col size="12">
                      <div (click)="Settings('_collection', 'insert', null, 0)" class="data-sq-button">
                        <ion-icon name="add-circle-outline"></ion-icon><br />
                        <span>{{ 'New' | translate }}<br />{{ 'Collection' | translate }}</span>
                      </div>
                      <div (click)="doRefreshDash()" class="data-sq-button">
                        <ion-icon *ngIf="is_dash_ok" name="sync"></ion-icon>
                        <ion-icon *ngIf="!is_dash_ok" name="time-outline"></ion-icon>
                        <br />
                        <span>{{ 'Refresh' | translate }}<br />{{ 'All' | translate }}</span>
                      </div>
                      <div (click)="doResizeCharts()" class="data-sq-button">
                        <ion-icon name="expand-outline"></ion-icon><br />
                        <span>{{ 'Resize' | translate }}<br />{{ 'Charts' | translate }}</span>
                      </div>
                      <div class="data-sq-button" (click)="goSection('admin', '_log', 'Logs')">
                        <ion-icon name="telescope-outline"></ion-icon><br />
                        <span>{{ 'Show' | translate }}<br />{{ 'Logs' | translate }}</span>
                      </div>
                      <div *ngIf="!template_showed" class="data-sq-button" (click)="doTemplateShow()">
                        <ion-icon name="albums-outline"></ion-icon><br />
                        <span>{{ 'Show' | translate }}<br />{{ 'Templates' | translate }}</span>
                      </div>
                      <div *ngIf="template_showed" class="data-sq-button" (click)="doTemplateShow()">
                        <ion-icon name="albums-outline"></ion-icon><br />
                        <span>{{ 'Hide' | translate }}<br />{{ 'Templates' | translate }}</span>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <!-- TEMPLATES -->
                <div *ngIf="template_showed" class="ion-margin-bottom">
                  <!-- <h4>{{ 'Templates' | translate }}</h4> -->
                  <ion-grid *ngIf="templates.length > 0; else notemplates" class="ion-no-padding data-grid">
                    <ion-row>
                      <ion-col size="3">
                        <span class="column-title">{{ 'Template Name' | translate }}</span>
                      </ion-col>
                      <ion-col size="4">
                        <span class="column-title">{{ 'Description' }}</span>
                      </ion-col>
                      <ion-col size="1">
                        &nbsp;
                      </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let item of templates; let t = index">
                      <ion-col size="3" class="flex-container">
                        <ion-icon [name]="item.icon" size="large" class="ion-margin-end"></ion-icon>
                        <div>
                          <div class="data-title temp">{{ item.title }}</div>
                          {{ item.collection }}
                        </div>
                      </ion-col>
                      <ion-col size="4" class="ion-text-wrap">
                        {{ item.description }}
                      </ion-col>
                      <ion-col size="1">
                        <ion-button size="small" size="small" (click)="doInstallTemplate(item, t)">
                          {{ 'Install' | translate }}
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <ng-template #notemplates>
                    <ion-text class="pe">{{ 'No templates found' | translate }}.</ion-text>
                  </ng-template>
                  <ion-button size="small" class="notfound-button" (click)="doTemplateShow()">
                    <ion-icon name="eye-off-outline"></ion-icon>
                    {{ 'Hide Templates' | translate }}
                  </ion-button>
                </div>

                <!-- VIEW SECTION -->
                <div *ngIf="views && views.length > 0" class="brz-visual-group">
                  <div *ngFor="let item of views_dash; let i = index" [class]="chart_css" #chcontainer>
                    <div *ngIf="item && item.vie_dashboard && item.chart">
                      <div class="hdr">{{ item.vie_title }}</div>
                      <div class="hdr2">{{ item.vie_collection_id }}
                        <span *ngIf="item.chart.count" class="text-bold"> | {{ item.chart.count }}
                          <span *ngIf="item.chart.count > 1">{{ 'rows' | translate }}</span>
                          <span *ngIf="item.chart.count == 1">{{ 'row' | translate }}</span>
                        </span><br />
                        {{ item.chart.function }} {{ 'of' | translate }} {{ item.chart.yaxis }}
                        <span *ngIf="item.chart.kpi_target_value; else notargetv">&rarr; {{
                          item.chart.kpi_target_value }}</span>
                        <ng-template #notargetv><br /></ng-template>
                      </div>
                      <div class="hdr3">
                        <ion-icon
                          *ngIf="item.chart.kpi_target_value && item.chart.value && item.chart.kpi_target_value > item.chart.value"
                          name="thumbs-down" color="danger">
                        </ion-icon>
                        <ion-icon
                          *ngIf="item.chart.kpi_target_value && item.chart.value && item.chart.kpi_target_value <= item.chart.value"
                          name="thumbs-up" color="success">
                        </ion-icon>
                        {{ item.chart.value }}
                      </div>
                      <div class="app-charts">
                        <app-charts *ngIf="item.chart.data && item.chart.data.length > 0; else nochartdata"
                          [chart]="item.chart" [width]="chcontainer.offsetWidth"></app-charts>
                        <ng-template #nochartdata>
                          <div class="visual-error">
                            {{ 'No Data Found' | translate }}
                          </div>
                        </ng-template>
                      </div>
                      <div class="visual-buttons">
                        <ion-button size="small" fill="clear" (click)="doGetVisual(item, i)" class="clear-dark-button"
                          color="dark" mode="ios">
                          <ion-icon name="sync"></ion-icon>
                        </ion-button>
                        <ion-button *ngIf="perm" size="small" fill="clear"
                          (click)="Settings('_view', 'update', item, i)" class="clear-dark-button" color="dark"
                          mode="ios">
                          <ion-icon name="settings-outline"></ion-icon>
                        </ion-button>
                        <ion-button *ngIf="perm" size="small" fill="clear" (click)="doEnterViewMode(item)"
                          class="clear-dark-button" color="dark" mode="ios">
                          <ion-icon name="open-outline"></ion-icon>
                        </ion-button>
                      </div>
                    </div>
                  </div>

                  <!-- SHARED VIEWS -->
                  <ion-searchbar showCancelButton="never" debounce="500" placeholder="{{ 'Search views' }}"
                    animated="true" class="ion-no-padding ion-no-margin brz-searchbar"
                    (ionChange)="doStartSearch($event.detail.value)">
                  </ion-searchbar>
                  <ion-grid *ngIf="viewsx.length > 0; else nosharedviews" class="ion-no-padding data-grid">
                    <ion-row>
                      <ion-col size="3">
                        <span class="column-title">{{ 'ID' }} / {{ 'View Title' | translate }}</span>
                      </ion-col>
                      <ion-col size="2">
                        <span class="column-title">{{ 'Collection' }}</span>
                      </ion-col>
                      <ion-col size="6">
                        <span class="column-title">{{ 'Tags' }}</span>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let item of viewsx; let a = index" (click)="doEnterViewMode(item)">
                      <ion-col size="3">
                        <ion-icon name="play" class="data-icon" color="primary"></ion-icon> {{ item.vie_id }}<br />
                        <div class="data-title">{{ item.vie_title }}</div>
                      </ion-col>
                      <ion-col size="2">
                        {{ item.vie_collection_id }}
                        <div *ngIf="item.chart && item.chart.count; else noviewrecords" class="data-title">{{
                          item.chart.count }} <span *ngIf="item.chart.count > 1">{{ 'rows' |
                            translate }}</span><span *ngIf="item.chart.count == 1">{{ 'row' | translate
                            }}</span>
                        </div>
                        <ng-template #noviewrecords>
                          <div class="data-title">{{ 'No matching records' |
                            translate }}
                          </div>
                        </ng-template>
                      </ion-col>
                      <ion-col size="6">
                        {{ item._tags.join(' ') }}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <ng-template #nosharedviews>
                    <ion-text class="pe" class="ion-margin-bottom">{{ 'No views found' | translate }}.</ion-text>
                    <br />
                  </ng-template>
                  <br />
                </div>

                <!-- RECENT ANNOUNCEMENTS -->
                <h4>{{ 'Announcements' | translate }}</h4>
                <ion-grid *ngIf="announcements.length > 0; else noannouncement" class="ion-no-padding data-grid">
                  <ion-row>
                    <ion-col size="3">
                      <span class="column-title">{{ 'Date' }} / {{ 'View Title' | translate }}</span>
                    </ion-col>
                    <ion-col size="2">
                      <span class="column-title">{{ 'By' }}</span>
                    </ion-col>
                    <ion-col size="6">
                      <span class="column-title">{{ 'Tags' }}</span>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let item of announcements; let a = index">
                    <ion-col size="3">
                      <ion-icon name="play" class="data-icon" color="primary"></ion-icon> {{ item.log_date.replace('
                      ', 'T') | date:'dd.MM.yyyy
                      HH:mm' }}<br />
                      <div class="data-title">{{ item.log_document.view.vie_title }}</div>
                    </ion-col>
                    <ion-col size="2">
                      {{ item.log_user_id }}
                      <div class="data-title">
                        {{ item.log_operation }}
                      </div>
                    </ion-col>
                    <ion-col size="6">
                      {{ item.log_document.view._tags.join(' ') }}
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ng-template #noannouncement>
                  <ion-text class="pe">{{ 'No announcement found' | translate }}.</ion-text>
                </ng-template>
                <br /><br /><br />
              </div>

              <!-- CRUD -->
              <div *ngIf="menu=='collections' || menu=='admin'">
                <!-- CRUD HEADER BUTTONS GRID -->
                <ion-grid class="ion-no-padding">
                  <ion-row class="sub-menu-row sq-menu-row">
                    <ion-col *ngIf="view_mode[id]" size="12">
                      <div (click)="doAnnounceNow(view, 'test')" class="data-sq-button">
                        <ion-icon *ngIf="!in_otp_process_test" name="megaphone-outline"></ion-icon>
                        <ion-icon *ngIf="in_otp_process_test" name="hourglass-outline"></ion-icon>
                        <br />
                        {{ 'Share' | translate }}<br />{{ 'TEST' | translate }}
                      </div>
                      <div (click)="doAnnounceNow(view, 'live')" class="data-sq-button">
                        <ion-icon *ngIf="!in_otp_process" name="megaphone"></ion-icon>
                        <ion-icon *ngIf="in_otp_process" name="hourglass-outline"></ion-icon>
                        <br />
                        {{ 'Share' | translate }}<br />{{ 'LIVE' | translate }}
                      </div>
                      <div (click)="doCopy('view')" class="data-sq-button">
                        <ion-icon *ngIf="!is_url_copied" name="copy-outline"></ion-icon>
                        <ion-icon *ngIf="is_url_copied" name="checkmark-outline"></ion-icon>
                        <br />
                        <span *ngIf="!is_url_copied">{{ 'Copy' | translate }}<br />{{ 'Data Url' | translate }}</span>
                        <span *ngIf="is_url_copied">{{ 'Data Url' | translate }}<br />{{ 'Copied' | translate }}</span>
                      </div>
                      <div (click)="doQuitViewMode()" class="data-sq-button">
                        <ion-icon name="exit-outline"></ion-icon>
                        <br />
                        {{ 'Quit View Mode' | translate }}
                      </div>
                      <div *ngIf="perm" (click)="Settings('_view', 'update', view, 0)" class="data-sq-button">
                        <ion-icon name="settings-outline"></ion-icon><br />
                        {{ 'View Settings' | translate }}
                      </div>
                    </ion-col>
                    <ion-col *ngIf="!view_mode[id]" size="12">
                      <div *ngIf="is_crud" (click)="doImport()" class="data-sq-button">
                        <ion-icon name="cloud-upload-outline"></ion-icon><br />
                        <span>{{ 'Import' | translate }}<br />{{ 'Excel' | translate }}</span>
                      </div>
                      <div *ngIf="barcoded_; else newrecord" (click)="goCrud(null, 'insert')" class="data-sq-button">
                        <ion-icon name="barcode-outline"></ion-icon><br />
                        <span>{{ 'Read' | translate }}<br />{{ 'Barcode' | translate }}</span>
                      </div>
                      <ng-template #newrecord>
                        <div (click)="goCrud(null, 'insert')" class="data-sq-button">
                          <ion-icon name="add-circle-outline"></ion-icon><br />
                          <span>{{ 'New' | translate }}<br />{{ 'Record' | translate }}</span>
                        </div>
                      </ng-template>
                      <div (click)="RefreshData(0)" class="data-sq-button">
                        <ion-icon *ngIf="is_loaded" name="sync"></ion-icon>
                        <ion-icon *ngIf="!is_loaded" name="time-outline"></ion-icon>
                        <br />
                        <span>{{ 'Refresh' | translate }}<br />{{ 'All' | translate }}</span>
                      </div>
                      <div (click)="goCrud(null, 'filter')" class="data-sq-button {{ !filter ? 'disabled' : null }}">
                        <ion-icon *ngIf="filter.length==0" name="funnel-outline"></ion-icon>
                        <ion-icon *ngIf="filter.length>0" name="funnel"></ion-icon>
                        <br />
                        <ion-text *ngIf="filter.length==0">{{ 'Apply' | translate }}<br />{{ 'Filter' | translate }}
                        </ion-text>
                        <ion-text *ngIf="filter.length>0">{{ 'Filter' | translate }}<br />{{ 'Applied' |
                          translate }}
                        </ion-text>
                      </div>
                      <div (click)="doClearFilter()" class="data-sq-button">
                        <ion-icon name="close-circle-outline"></ion-icon><br />
                        <span>{{ 'Clear' | translate }}<br />{{ 'Filter' | translate }}</span>
                      </div>
                      <div *ngIf="is_crud" (click)="doSaveAsView()" class="data-sq-button">
                        <ion-icon name="save-outline"></ion-icon><br />
                        <span>{{ 'Save as View' | translate }}</span>
                      </div>
                      <div (click)="MultiCrud('clone')" class="data-sq-button">
                        <ion-icon name="duplicate-outline"></ion-icon><br />
                        <span>{{ 'Clone Selected' | translate }}</span>
                      </div>
                      <div (click)="MultiCrud('delete')" class="data-sq-button">
                        <ion-icon name="trash-outline"></ion-icon><br />
                        <span>{{ 'Delete Selected' | translate }}</span>
                      </div>
                      <div *ngIf="perm && filter.length > 0 && data.length > 0 && is_crud" (click)="doPurge()"
                        class="data-sq-button">
                        <ion-icon name="skull" color="danger"></ion-icon><br />
                        <ion-text color="danger">{{ 'Purge Filtered' | translate }}</ion-text>
                      </div>
                      <div *ngIf="perm && is_crud && !reconfig" (click)="goFields()" class="data-sq-button">
                        <ion-icon name="list-outline"></ion-icon><br />
                        {{ 'Data' | translate }}<br />{{ 'Fields' | translate }}
                      </div>
                      <div *ngIf="perm && is_crud && reconfig" (click)="doReconfigure()" class="data-sq-button danger">
                        <ion-icon name="warning-outline" color="danger"></ion-icon><br />
                        <ion-text color="danger">{{ 'Update' | translate }}<br />{{ 'Structure' | translate }}
                        </ion-text>
                      </div>
                      <div *ngIf="perm && is_crud" (click)="doCollectionSettings()" class="data-sq-button">
                        <ion-icon name="settings-outline"></ion-icon><br />
                        {{ 'Collection Settings' | translate }}
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-grid *ngIf="is_loaded && view_mode[id] && view" class="announce-grid ion-no-padding">
                    <ion-row class="border-top-row">
                      <ion-col size="12">
                        <ion-text color="primary">{{ 'SHARED VIEW' | translate }}</ion-text><br />
                        <span class="announce-grid-header">{{ view_mode["vie_title"] }}</span>
                        <div class="announce-grid-tags">{{ view_mode["_tags"] && view_mode["_tags"].join(' ')
                          }}</div>
                        <div *ngIf="view && view.vie_scheduled" class="announce-sched">
                          {{ 'Scheduled at' | translate }}
                          <span *ngIf="view.vie_sched_days && view.vie_sched_days.length > 0">
                            {{ view.vie_sched_days.join(',') }}&nbsp;
                          </span>
                          <span *ngIf="view.vie_sched_hours && view.vie_sched_hours.length > 0">
                            hours: {{ view.vie_sched_hours.join(',') }}&nbsp;
                          </span>
                          <span *ngIf="view.vie_sched_minutes && view.vie_sched_minutes.length > 0">
                            minutes: {{ view.vie_sched_minutes.join(',') }}&nbsp;
                          </span>
                        </div>
                        <div *ngIf="view && !view.vie_scheduled" class="announce-sched">{{ 'Not scheduled' | translate
                          }}</div>
                        <div>
                          <a href="javascript:void(0);" (click)="doShowPivot()"><span *ngIf="!is_pivot_showed">{{ 'Show
                              Data Pivot'
                              | translate }}</span><span *ngIf="is_pivot_showed">{{ 'Hide Pivot'
                              | translate }}</span></a>
                        </div>
                        <div *ngIf="pivot_ && is_pivot_showed" lines="none" class="ion-no-padding">
                          <div [innerHtml]="pivot_" class="pivot"></div>
                          <table *ngIf="statistics_" class="stat">
                            <tr>
                              <th colspan="8">
                                {{ 'Descriptive statistics of' | translate }} {{ statistics_key_ }}
                              </th>
                            </tr>
                            <tr>
                              <th>
                                {{ 'count' }}
                              </th>
                              <th>
                                {{ 'mean' }}
                              </th>
                              <th>
                                {{ 'stdev' }}
                              </th>
                              <th>
                                {{ 'min' }}
                              </th>
                              <th>
                                {{ 'max' }}
                              </th>
                              <th>
                                {{ 'top' }}
                              </th>
                              <th>
                                {{ 'unique' }}
                              </th>
                              <th>
                                {{ 'freq' }}
                              </th>
                            </tr>
                            <tr>
                              <td>
                                {{ statistics_.count}}
                              </td>
                              <td>
                                {{ statistics_.mean}}
                              </td>
                              <td>
                                {{ statistics_.std}}
                              </td>
                              <td>
                                {{ statistics_.min}}
                              </td>
                              <td>
                                {{ statistics_.max}}
                              </td>
                              <td>
                                {{ statistics_.top}}
                              </td>
                              <td>
                                {{ statistics_.unique}}
                              </td>
                              <td>
                                {{ statistics_.freq}}
                              </td>
                            </tr>
                          </table>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-grid>

                <!-- CRUD GRID -->
                <ion-grid *ngIf="is_samecol; else dataloading" class="ion-no-padding data-grid">
                  <!-- CRUD HEADERS -->
                  <ion-row *ngIf="data && data.length >= 0" class="ion-nowrap search-row">
                    <ion-col class="ion-text-center check-column">
                      <ion-checkbox [(ngModel)]="multicheckbox" (ionChange)="SwitchSelectData($event.detail.checked)"
                        mode="md">
                      </ion-checkbox>
                    </ion-col>
                    <ion-col *ngFor="let item of columns_ | keyvalue : orderByIndex"
                      [style]="'min-width: ' + item.value.width + 'px !important;'"
                      [class]="searched && searched[item.key] && searched[item.key].f ? 'filtered' : ''">
                      <div (click)="doSetSearch(item.key)" class="clicked-item">
                        <span class="column-title">{{ item.value.title }}<br />
                        </span>
                        {{ item.key }} <ion-icon name="caret-down" class="search-caret"></ion-icon>
                      </div>
                      <div *ngIf="searched && searched[item.key] && searched[item.key].actived" class="search-box">
                        <div *ngIf="!searched[item.key].setmode">
                          <div class="searched-title">{{ item.value.title }}&nbsp;&nbsp;</div>
                          <ion-button color="light" size="small" (click)="setSort(item.key, 1)">
                            <ion-icon name="arrow-down"></ion-icon>
                          </ion-button>
                          <ion-button color="light" size="small" (click)="setSort(item.key, -1)">
                            <ion-icon name="arrow-up"></ion-icon>
                          </ion-button>
                          <ion-button color="light" size="small" (click)="goField(item.key)">
                            <ion-icon name="settings-outline"></ion-icon>
                          </ion-button>
                          <br />
                          <div *ngIf="item.value.bsonType!='bool'">
                            <ion-button [color]="searched[item.key].op == 'eq' ? 'primary' : 'light'" size="small"
                              (click)="doSetSearchItemOp(item.key, 'eq')">
                              <ion-text>=</ion-text>
                            </ion-button>
                            <ion-button [color]="searched[item.key].op == 'ne' ? 'primary' : 'light'" size="small"
                              (click)="doSetSearchItemOp(item.key, 'ne')">
                              <ion-text>&ne;</ion-text>
                            </ion-button>
                            <ion-button [color]="searched[item.key].op == 'gte' ? 'primary' : 'light'" size="small"
                              (click)="doSetSearchItemOp(item.key, 'gte')">
                              <ion-text>&ge;</ion-text>
                            </ion-button>
                            <ion-button [color]="searched[item.key].op == 'lte' ? 'primary' : 'light'" size="small"
                              (click)="doSetSearchItemOp(item.key, 'lte')">
                              <ion-text>&le;</ion-text>
                            </ion-button>
                            <ion-button [color]="searched[item.key].op == 'null' ? 'primary' : 'light'" size="small"
                              (click)="doSetSearchItemOp(item.key, 'null')">
                              <ion-text>&#9723;</ion-text>
                            </ion-button>
                            <ion-button [color]="searched[item.key].op == 'nnull' ? 'primary' : 'light'" size="small"
                              (click)="doSetSearchItemOp(item.key, 'nnull')">
                              <ion-text>&#9724;</ion-text>
                            </ion-button>
                          </div>
                          <div *ngIf="item.value.bsonType=='bool'">
                            <ion-button [color]="searched[item.key].op == 'true' ? 'primary' : 'light'" size="small"
                              (click)="doSetSearchItemOp(item.key, 'true')">
                              <ion-text>{{ 'True' | translate }}</ion-text>
                            </ion-button>
                            <ion-button [color]="searched[item.key].op == 'false' ? 'primary' : 'light'" size="small"
                              (click)="doSetSearchItemOp(item.key, 'false')">
                              <ion-text>{{ 'False' | translate }}</ion-text>
                            </ion-button>
                          </div>
                          <ion-input *ngIf="item.value.bsonType!='bool'"
                            [type]="item.value.bsonType!='string' ? item.value.bsonType : 'text'" size="32"
                            [(ngModel)]="searched[item.key].kw" [ngModelOptions]="{standalone: true}"
                            class="ion-no-padding search-input" placeholder="{{ 'Search' | translate }}">
                          </ion-input>
                          <ion-button size="small" (click)="doSearch(item.key, searched[item.key].kw)">
                            <ion-icon name="search"></ion-icon>{{ 'Search' | translate }}&nbsp;&nbsp;
                          </ion-button>
                          <ion-button color="light" size="small" (click)="doResetSearchItem(item.key)">
                            &nbsp;{{ 'Cancel' | translate }}&nbsp;&nbsp;
                          </ion-button>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col class="data-at-column" (click)="setSort('_modified_at', 1)">
                      <span class="column-title">{{ 'Modified At' }}<br /></span>
                      {{ '_modified_at' | translate }}
                    </ion-col>
                    <ion-col class="data-by-column" (click)="setSort('_modified_by', 1)">
                      <span class="column-title">{{ 'Modified by' }}<br /></span>
                      {{ '_modified_by' | translate }}
                    </ion-col>
                  </ion-row>

                  <!-- CRUD LIST -->
                  <ion-row *ngFor="let record of data; let i = index" class="ion-nowrap clicked-item">
                    <ion-col class="ion-text-center check-column">
                      <ion-checkbox id="checkbox" [(ngModel)]="selected[i]" [checked]="selected[i]"
                        (ionChange)="SetSelectData(i,$event)" mode="md">
                      </ion-checkbox>
                    </ion-col>
                    <ion-col *ngFor="let item of columns_ | keyvalue : orderByIndex" (click)="goCrud(record, 'update')"
                      [style]="'min-width: ' + item.value.width + 'px;'">
                      <span *ngIf="item.value.bsonType=='bool'">
                        {{ record[item.key] }}
                      </span>
                      <span *ngIf="item.value.bsonType=='date' && record[item.key]">
                        {{ record[item.key].replace(' ', 'T') | date:'dd.MM.yyyy HH:mm:ss' }}
                      </span>
                      <span *ngIf="item.value.bsonType=='array'">
                        <span *ngIf="record[item.key]?.length > 0">{{ record[item.key].join(' ') }}</span>
                      </span>
                      <span *ngIf="item.value.bsonType=='object'">
                        <span>{{ 'Object' | translate }}</span>
                      </span>
                      <span
                        *ngIf="item.value.bsonType != 'array' && item.value.bsonType != 'date' && item.value.bsonType != 'object' && item.value.bsonType != 'bool'">
                        <span *ngIf="record && item.key && record[item.key]">{{ record[item.key].toString()
                          }}</span>
                      </span>
                    </ion-col>
                    <ion-col class="data-at-column">
                      {{ record._modified_at.replace(' ', 'T') | date:'dd.MM.yyyy
                      HH:mm:ss' }}
                    </ion-col>
                    <ion-col class="data-by-column">
                      {{ record._modified_by }}
                    </ion-col>
                  </ion-row>

                  <!-- CRUD LIST PAGINATION -->
                  <ion-row *ngIf="count>=0">
                    <ion-col size="12" class="ion-no-padding pages-col">
                      <!-- NO RECORD FOUND PAGING -->
                      <div *ngIf="is_loaded && (!count || count==0); else showpaging">
                        <h6>{{ 'No records found' | translate }}</h6>
                        {{ 'Click the button below to add the first record' | translate }}.<br />
                        <ion-button size="small" (click)="goCrud(null, 'insert')" class="notfound-button">
                          {{ 'New Record' | translate }}
                        </ion-button>
                      </div>
                      <!-- RECORDS FOUND PAGING -->
                      <ng-template #showpaging>
                        <ion-button size="small" fill="clear" (click)="RefreshData(0)"
                          class="ion-no-padding ion-margin-end">
                          <span *ngIf="count > limit">
                            {{ (page - 1) * limit + 1 }} -
                            <span *ngIf="(page - 1) * limit + limit <= count">{{ (page - 1) * limit + limit }}</span>
                            <span *ngIf="(page - 1) * limit + limit > count">{{ count }}</span>
                            {{ 'of' | translate }}&nbsp;
                          </span>
                          {{ count }} {{ 'records' | translate }}
                        </ion-button>
                        <span *ngIf="page > 10">
                          <ion-button size="small" fill="clear" (click)="RefreshData(1)" class="ion-no-padding">
                            1 ...
                          </ion-button>
                          <ion-button size="small" fill="clear" (click)="RefreshData(page-1)" class="ion-no-padding">
                            <ion-icon name="caret-back"></ion-icon>
                          </ion-button>
                        </span>
                        <span *ngFor="let in of paget; let i = index">
                          <ion-button *ngIf="page != in" size="small" fill="clear" (click)="RefreshData(in)"
                            class="ion-no-padding">
                            <ion-label>&nbsp;{{ in }}&nbsp;</ion-label>
                          </ion-button>
                          <ion-button *ngIf="page == in" size="small" fill="clear"
                            class="ion-no-padding text-underlined">
                            <ion-label>&nbsp;{{ in }}&nbsp;</ion-label>
                          </ion-button>
                        </span>
                        <span *ngIf="pages > 10 && page < pages">
                          <ion-button size="small" fill="clear" (click)="RefreshData(page+1)" class="ion-no-padding">
                            <ion-icon name="caret-forward"></ion-icon>
                          </ion-button>
                          <ion-button size="small" fill="clear" (click)="RefreshData(pages)" class="ion-no-padding">
                            ... {{ pages }}
                          </ion-button>
                        </span>
                      </ng-template>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ng-template #dataloading>
                  <ion-item lines="none">
                    <ion-spinner name="dots" class="ion-margin-end"></ion-spinner>
                    <ion-label>
                      {{ loadingText | translate }}
                    </ion-label>
                  </ion-item>
                </ng-template>
              </div>

              <!-- ACCOUNT SECTIONS -->
              <div *ngIf="menu=='account'">
                <div *ngIf="submenu=='settings'" class="header-row">
                  <ion-item lines="full">
                    <ion-label class="ion-text-wrap descriptive">
                      <h2>{{ 'Password Change' | translate }}</h2>
                      {{ 'You can reset your password anytime' | translate }}.
                      <ul>
                        <li>{{ 'Click to "Sign out" button in the header' | translate }}.</li>
                        <li>{{ 'Click "Sign In" button again and click "Reset Password" button afterwards' |
                          translate }}.</li>
                      </ul>
                    </ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label class="ion-text-wrap descriptive">
                      <h2>{{ 'Two-Factor Authentication' | translate }} (OTP)</h2>
                      {{ 'OTP method supplements application password by producing one-time codes as a second layer of
                      security' | translate }}.<br />
                      {{ 'You must activate OTP to get signed in by following steps' | translate }};
                      <ul>
                        <li>{{ 'Install an "OTP Authenticator App" into your Mobile Phone' | translate }}.<br />{{ 'We
                          strongly recommend any of the below Apps' | translate }};
                          <ul>
                            <li>Authy</li>
                            <li>Microsoft Authenticator</li>
                            <li>Google Authenticator<br /><br /></li>
                          </ul>
                        </li>
                        <li>{{ 'Click "Reset OTP" button below. A new QR code will be generated' | translate }}.</li>
                        <li>{{ 'Run the OTP App on Mobile Phone and select "Add Account"' | translate }}.</li>
                        <li>{{ 'Read the QR code' | translate }}.</li>
                        <li>{{ 'Validate the new QR code with "Validate OTP" button' | translate }}.</li>
                      </ul>

                      <ion-button *ngIf="!otp_show" size="default" class="ion-no-margin ion-margin-top"
                        (click)="doResetOTP()">
                        <ion-icon name="refresh-outline"></ion-icon>
                        <ion-label>{{ 'Reset OTP' | translate }}</ion-label>
                      </ion-button>

                      <ion-button *ngIf="!otp_show" size="default" class="ion-no-margin ion-margin-top"
                        (click)="doOTP({ op: 'show' })">
                        <ion-icon name="eye-outline"></ion-icon>
                        <ion-label>{{ 'Show QR Code' | translate }}</ion-label>
                      </ion-button>

                      <div *ngIf="otp_show">
                        <qrcode *ngIf="otp_qr" [qrdata]="otp_qr" [width]="200" [errorCorrectionLevel]="'M'"
                          [allowEmptyString]="true"></qrcode>
                        <ion-button size="default" class="ion-no-margin ion-margin-top" (click)="doValidateOTP()">
                          <ion-icon name="qr-code"></ion-icon>
                          <ion-label>{{ 'Validate OTP' | translate }}</ion-label>
                        </ion-button>
                        <ion-button size="default" class="ion-no-margin ion-margin-top" (click)="doOTP({ op: 'hide' })">
                          <ion-icon name="eye-off-outline"></ion-icon>
                          <ion-label>{{ 'Hide QR Code' | translate }}</ion-label>
                        </ion-button>
                      </div>
                    </ion-label>
                  </ion-item>
                </div>

                <!-- API KEY -->
                <div *ngIf="submenu=='apikey'" class="header-row">
                  <ion-item lines="none">
                    <ion-label *ngIf="accountf_apikey; else noapikey" class="ion-text-wrap descriptive">
                      {{ 'API key makes you enabled to connect your data from the Internet in a secure way' |
                      translate }}.
                      <ul>
                        <li>{{ 'API keys should be kept secret so it is masked, not shown by default' | translate }}.
                        </li>
                        <li>{{ 'To see your api-key for 5 seconds click to "show" button below' | translate }}.</li>
                        <li>{{ 'You can copy-paste your api-key into the clipboard' | translate }}.</li>
                        <li>{{ 'You are always able to generate a new api-key every time you need to' | translate }}.
                        </li>
                        <li>{{ 'Once you generate a new one, previous key does not work anymore' | translate }}.</li>
                      </ul>
                      <ion-icon color="primary" name="key" size="large" class="ion-margin-end"></ion-icon>
                      <p *ngIf="is_apikey_enabled" class="fixed-font">{{ accountf_apikey }}</p>
                      <p *ngIf="!is_apikey_enabled">
                        &#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;
                      </p>
                      <p *ngIf="accountf_apikeydate">{{ 'Created at' | translate }} {{ accountf_apikeydate |
                        date:'dd.MM.yyyy HH:mm' }}&nbsp;</p>
                      <p class="ion-padding-top">
                        <ion-button (click)="doApiKeyEnabled()" size="default">
                          <ion-spinner *ngIf="is_apikey_enabled" name="dots"></ion-spinner>
                          <ion-icon *ngIf="!is_apikey_enabled" name="eye"></ion-icon>
                          <ion-label *ngIf="!is_apikey_enabled">{{ 'Show' | translate }}</ion-label>
                        </ion-button>
                        <ion-button (click)="doCopy('apikey')" size="default">
                          <ion-icon *ngIf="!is_apikey_copied" name="copy"></ion-icon>
                          <ion-label *ngIf="!is_apikey_copied">{{ 'Copy' | translate }}</ion-label>
                          <ion-icon *ngIf="is_apikey_copied" name="checkmark"></ion-icon>
                          <ion-label *ngIf="is_apikey_copied">{{ 'Copied' | translate }}</ion-label>
                        </ion-button>
                        <ion-button (click)="doAccount('apikeygen')" class="ion-margin-end" size="default">
                          <ion-spinner *ngIf="is_processing_account" name="dots"></ion-spinner>
                          <ion-icon *ngIf="!is_processing_account" name="refresh"></ion-icon>
                          <ion-label *ngIf="!is_processing_account">{{ 'Generate' | translate }}</ion-label>
                        </ion-button>
                      </p>
                    </ion-label>
                    <ng-template #noapikey>
                      <ion-label class="ion-text-wrap descriptive">
                        {{ 'API key makes you enabled to connect your data from the Internet in a secure way' |
                        translate }}.
                        <ul>
                          <li>{{ 'You can connect your data from Microsft Excel or other data tools by using an
                            api-key' |
                            translate
                            }}.</li>
                          <li>{{ 'You have not created an api-key yet' | translate }}.</li>
                          <li>{{ 'In order to create a new api-key click the button below' | translate }}.</li>
                        </ul>
                        <p>
                          <ion-button (click)="doAccount('apikeygen')" size="default" class="ion-margin-top">
                            <ion-icon name="key"></ion-icon>
                            <ion-label>{{ 'Create an API key' | translate }}</ion-label>
                          </ion-button>
                        </p>
                      </ion-label>
                    </ng-template>
                  </ion-item>
                  <ion-item lines="none" class="ion-padding-top">
                    <div class="ion-text-wrap descriptive tips">
                      {{ 'HOW TO' | translate }}
                      <ul>
                        <li>{{ 'use your api-key to connect and get your data into Microsoft Excel or other BI tools'
                          |
                          translate }}.
                        </li>
                        <li>{{ 'add data into your collections through the Technoplatz-BI API end-point by using your
                          api-key'
                          | translate }}.
                        </li>
                      </ul>
                    </div>
                  </ion-item>
                </div>

                <!-- PREFERENCES -->
                <div *ngIf="submenu=='preferences'" class="header-row">
                  <h4>{{ 'Theme' | translate }}</h4>
                  <ion-item lines="none">
                    <ion-label class="ion-text-wrap">
                      <div class="flex-container">
                        <div *ngFor="let item of themes" size="default" [style.background-color]="item.color"
                          class="theme-button" (click)="doTheme(item)">
                          <p>{{ item.name }}</p>
                        </div>
                      </div>
                    </ion-label>
                  </ion-item>
                </div>
              </div>
            </ion-col>
            <ion-col *ngIf="menu=='collections' and is_pane_ok" class="console-right-1">
              <ion-list *ngIf="pane_segval_colls=='collection'" class="ion-no-padding pane-list">
                <ion-list-header class="ion-no-padding">{{ 'Shared Views' | translate }} [{{ views_pane.length }}]
                </ion-list-header>
                <div *ngIf="views_pane.length > 0; else nopaneviewfound">
                  <ion-item *ngFor="let item of views_pane; let p = index" class="pane-item cursored"
                    (click)="doEnterViewMode(item)">
                    <ion-icon slot="end"
                      [name]="item.vie_scheduled ? 'notifications-outline' : 'notifications-off-outline'" size="small">
                    </ion-icon>
                    <ion-label>
                      {{ item.vie_title }}<br />
                      <span>{{ item.vie_collection_id }} | <span *ngIf="item.chart && item.chart.count"
                          class="text-bold">{{ item.chart.count }} <span *ngIf="item.chart.count > 1">{{ 'rows' |
                            translate }}</span><span *ngIf="item.chart.count == 1">{{ 'row' | translate
                            }}</span></span></span>
                    </ion-label>
                  </ion-item>
                </div>
                <ng-template #nopaneviewfound>
                  <ion-item lines="none" class="ion-no-padding pane-item">
                    <ion-label class="ion-text-wrap">
                      {{ 'No view found' | translate }}<br />
                      <div>
                        {{ 'You can create a shared view by saving the existing query' |
                        translate }}.</div>
                    </ion-label>
                  </ion-item>
                </ng-template>
                <ion-list-header class="ion-no-padding">{{ 'Actions' | translate }} [{{ actions.length }}]
                </ion-list-header>
                <div *ngIf="perm && actions && actions.length && actions.length > 0; else noaction">
                  <ion-item *ngFor="let item of actions; let ac = index" class="ion-no-padding clicked-item"
                    (click)="doAction(ac)">
                    <ion-icon name="play-circle-outline" color="primary" size="large"></ion-icon>
                    <ion-label class="ion-text-wrap ion-padding-end">
                      <strong>{{ item.title }}</strong><br />
                      {{ item.description }}
                    </ion-label>
                  </ion-item>
                </div>
                <ng-template #noaction>
                  <ion-item class="ion-no-padding pane-item">
                    <ion-label class="ion-text-wrap">
                      {{ 'No action found' | translate }}<br />
                      <div>
                        {{ 'To create a new action you need to add an action item into this collection\'s structure' |
                        translate }}.</div>
                    </ion-label>
                  </ion-item>
                </ng-template>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-inner-footer></app-inner-footer>